@charset "UTF-8";
body {
  color: #333;
  width: 80%;
  max-width: 960px;
  min-width: 600px;
  min-height: 2000px;
  padding: 30px;
  background-color: #FFFFEA;
  margin: 0 auto;
}
@media (max-width:768px) {
  body {
    width: 100%;
    min-width: 0;
    max-width: none;
  }
}
body * {
  max-width: 100%;
}
body .singleThumbnail {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  overflow: hidden;
}
body .singleThumbnail img {
  height: auto;
  max-width: 100%;
}
body .categoryLinks {
  display: flex;
  flex-wrap: wrap;
}
body .categoryLinks a {
  background-color: #005CAF;
  border-radius: 10px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  transition: 0.3s;
}
body .categoryLinks a:hover {
  opacity: 0.6;
}
body .tagLinks {
  display: flex;
  flex-wrap: wrap;
}
body .tagLinks a {
  background-color: #FB966E;
  border-radius: 10px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 2px 5px 2px 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  transition: 0.3s;
}
body .tagLinks a:hover {
  opacity: 0.6;
}
body p {
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: 0.2em;
}
@media (max-width:768px) {
  body p {
    font-size: 0.9em;
  }
}
body p.checkBox {
  position: relative;
  color: black;
  background: #d0ecff;
  line-height: 1.4;
  padding: 1em 1em;
  margin: 2em 0 0.5em;
  border-radius: 0 5px 5px 5px;
}
body p.checkBox:after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free", "Quicksand", "Avenir", "Arial", sans-serif;
  font-weight: 900;
  content: "\f00c Check";
  background: #2196F3;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 3px 7px 1px;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em;
}
body h1 {
  color: #9F353A;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: title_fade 1s ease-in-out forwards;
}
@keyframes title_fade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body h2 {
  background: #00478B;
  box-shadow: 0px 0px 0px 5px #00478B;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #F6AB43;
  margin-top: 200px;
  margin-bottom: 30px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
@media (max-width:768px) {
  body h2 {
    font-size: 1.2em;
  }
}
body h3 {
  position: relative;
  padding-left: 25px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  margin-top: 150px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
@media (max-width:768px) {
  body h3 {
    font-size: 0.9em;
  }
}
body h3:before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
body h3:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}
body h4 {
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 30px;
  margin-top: 50px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
@media (max-width:768px) {
  body h4 {
    font-size: 0.9em;
  }
}
body h4:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c"; /*アイコンのユニコード*/
  font-weight: 900;
  position: absolute; /*絶対位置*/
  font-size: 1em; /*サイズ*/
  left: 0; /*アイコンの位置*/
  top: 0; /*アイコンの位置*/
  color: #5ab9ff; /*アイコン色*/
  font-weight: 900;
}
body a {
  color: #005CAF;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}
body a:hover {
  color: #00478B;
  text-decoration: underline;
}
body table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 50px;
}
body table * {
  box-sizing: border-box;
}
body table th:first-child {
  border-radius: 5px 0 0 0;
}
body table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}
body table th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #00478B);
  border-left: 1px solid #00478B;
  border-top: 1px solid #00478B;
  border-bottom: 1px solid #00478B;
  width: 25%;
  padding: 10px 0;
}
body table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}
body table td:last-child {
  border-right: 1px solid #a8b7c5;
}
body table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
body table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
body table tbody th {
  border-top: none;
  background: rgba(0, 71, 139, 0.4);
}
body ul, body ol {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8; /*線の外側*/
  border: dashed 2px #ffb03f; /*破線*/
  border-radius: 9px;
  margin-left: 30px; /*はみ出ないように調整*/
  margin-right: 10px; /*はみ出ないように調整*/
  padding: 0.2em 0.5em 0.2em 2em;
}
body ul ul, body ul ol, body ol ul, body ol ol {
  background: none;
  box-shadow: none;
  border: none;
  display: block;
  margin: 0 0 0 5px;
  padding-left: 0;
}
body ul li, body ol li {
  line-height: 1.5;
  padding: 0.2em 0;
  margin-left: 30px;
  white-space: wrap;
}
body blockquote {
  padding-left: 10px;
  border-left: 4px solid #333;
}
body code {
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  background-color: #FB966E;
  color: white;
}
body dl dt {
  font-weight: 900;
}
body dl dd {
  padding-left: 30px;
}
body strong {
  font-size: 1.2em;
  font-weight: bolder;
  padding-left: 3px;
  padding-right: 3px;
}
body img {
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}
body .alignright {
  float: right;
  margin: 0 50px 20px 50px;
}
body .alignleft {
  float: left;
  margin: 0 50px 20px 50px;
}
body .aligncenter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=editor-style.css.map */