@charset "UTF-8";
body {
  color: #333;
  width: 90%;
  margin: 10px auto;
  max-width: 960px;
  min-width: 600px;
  padding: 30px;
  min-height: 2000px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);
  background-color: #F6AB43;
  border-radius: 5px;
  font-family: "a-otf-ud-shin-maru-go-pr6n", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body .singleThumbnail {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  overflow: hidden;
}
body .singleThumbnail img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body h1 {
  color: #9F353A;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: title_fade 1s ease-in-out forwards;
}
@keyframes title_fade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body h2 {
  background: #00478B;
  box-shadow: 0px 0px 0px 5px #00478B;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #F6AB43;
  margin-bottom: 30px;
}
body h3 {
  position: relative;
  padding-left: 25px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
body h3:before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
body h3:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}
body h4 {
  margin-bottom: 30px;
}
body h4:first-letter {
  font-size: 2em;
  color: #7172ac;
}
body a {
  color: #005CAF;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
}
body a:hover {
  color: #00478B;
  text-decoration: underline;
}
body table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 50px;
}
body table * {
  box-sizing: border-box;
}
body table th:first-child {
  border-radius: 5px 0 0 0;
}
body table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}
body table th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #00478B);
  border-left: 1px solid #00478B;
  border-top: 1px solid #00478B;
  border-bottom: 1px solid #00478B;
  width: 25%;
  padding: 10px 0;
}
body table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}
body table td:last-child {
  border-right: 1px solid #a8b7c5;
}
body table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
body table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
body table tbody th {
  border-top: none;
  background: rgba(0, 71, 139, 0.4);
}
body ul, body ol {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8; /*線の外側*/
  border: dashed 2px #ffb03f; /*破線*/
  border-radius: 9px;
  margin-left: 30px; /*はみ出ないように調整*/
  margin-right: 10px; /*はみ出ないように調整*/
  padding: 0.2em 0.5em 0.2em 2em;
  display: inline-block;
}
body ul ul, body ul ol, body ol ul, body ol ol {
  background: none;
  box-shadow: none;
  border: none;
  display: block;
  margin: 0 0 0 5px;
  padding-left: 0;
}
body ul li, body ol li {
  line-height: 1.5;
  padding: 0.2em 0;
  margin-left: 30px;
  white-space: nowrap;
}

h1.borderAnime:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px #00478B;
  transform: translateX(-50%);
  animation: border_anim 2s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=editor-style.css.map */