
$color_blue: #00478B;
// $color_blue: #7DB9DE;
$color_deepBlue: #005CAF;
$color_white: #F6AB43;
// $color_white: #f8f6ed;
$color_red: #9F353A;
$color_haizakura: #D7C4BB;
$color_orange: #FB966E;
$color_green: #F0A986;
$color_back: #FFFFEA;
