// Mrs Eaves OT Roman
// font-family: "mrs-eaves", serif;
// font-weight: 400;
// font-style: normal;

// Mrs Eaves OT Italic
// font-family: "mrs-eaves", serif;
// font-weight: 400;
// font-style: italic;

// Mrs Eaves OT Bold
// font-family: "mrs-eaves", serif;
// font-weight: 700;
// font-style: normal;

// Mrs Eaves OT Bold Italic
// font-family: "mrs-eaves", serif;
// font-weight: 700;
// font-style: italic;

// Mrs Eaves Roman Lining
// font-family: "mrs-eaves-roman-lining", serif;
// font-weight: 400;
// font-style: normal;

// Mrs Eaves Roman Small Caps
// font-family: "mrs-eaves-roman-small-caps", serif;
// font-weight: 400;
// font-style: normal;

// 日本語フォント
// A-OTF UD Shin Maru Go Pr6N L
// font-family: "a-otf-ud-shin-maru-go-pr6n", sans-serif;
// font-weight: 300;
// font-style: normal;