@import '../sass/colors';
@import '../../assets/sass/variables';

footer{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-color: $color-blue;
    color: white;
    @media($md){
        display: block;
    }
    div{
        h2{
            margin-bottom: 20px;
        }
        p{
            padding-left: 10px;
            margin-bottom: 5px;
        }
        @media($md){
            margin-bottom: 30px;
        }
    }
    .footerTitle{
        .snsFooter{
            i {
                font-size: 1.8em;
                margin: 5px;
                &:hover{
                    color: $color_orange;

                }
            }
        }
    }
    .footerInfo{
        a{
            color: white;
        }
    }
}